html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 2.1rem;
  line-height: 1.5;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

textarea, input {
  font-size: 1.6rem;
  margin-top: 0rem;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
header .logo {
  max-width: 200px;
}
header .nav .karla-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
header .nav .karla-ul li {
  margin-right: 1em;
  font-size: 2rem;
}
header .nav .karla-ul li:hover {
  scale: 1.2;
}
header .nav .karla-ul li a {
  text-decoration: none;
  color: #000;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  width: 100%;
}
.main .hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas: "heroTitle heroImg" "heroSubtitle heroImg" "heroArticle heroImg" "heroButton heroImg";
  justify-content: center;
  align-items: center;
  padding: 1em 12em;
  background-color: #495E57;
  height: 21em;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  overflow: visible;
  z-index: 1;
}
.main .heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vh;
}
.main .heroText .heroTitle {
  grid-area: heroTitle;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 7rem;
  margin-bottom: 0px;
  color: #F4CE14;
}
.main .heroText .heroSubtitle {
  grid-area: heroSubtitle;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}
.main .heroText .heroArticle {
  grid-area: heroArticle;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #fff;
}
.main .heroText .heroButton {
  grid-area: heroButton;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: #F4CE14;
  border-radius: 15px;
  background-color: #F4CE14;
}
.main .heroText .heroButton:hover {
  scale: 1.1;
}
.main .heroImg {
  grid-area: heroImg;
  width: 400px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10rem;
  margin-top: 5rem;
  overflow-y: visible;
  border-radius: 20px;
}
.main .special {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .specialHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.main .specialHead h1 {
  font-family: "Markazi Text", sans-serif;
  font-weight: 600;
  font-size: 6rem;
  margin-right: 2em;
}
.main .specialButton {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  border: #F4CE14;
  border-radius: 15px;
  margin-left: 5em;
  background-color: #F4CE14;
}
.main .specialButton:hover {
  scale: 1.1;
}
.main .specialCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .specialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12em;
  height: 25em;
  overflow: hidden;
  border: #EDEFEE 1px solid;
  background-color: #EDEFEE;
  border-radius: 10px;
  margin: 2em;
}
.main .specialCardImg {
  height: 10em;
  margin-top: 0;
}
.main .specialCardHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0em;
}
.main .specialCardTitle {
  font-family: "Markazi Text", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0em;
  width: auto;
}
.main .specialCardPrice {
  font-size: 1.7rem;
  margin-left: 2em;
  margin-bottom: 0em;
  color: #EE9972;
}
.main .specialCardDescription {
  height: 8em;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1em 2em;
  color: #495E57;
}
.main .specialCardButton {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 1em;
  border: #EDEFEE;
  background-color: #EDEFEE;
}
.main .specialCardButtonIcon {
  margin-left: 1em;
}
.main .specialCardButton:hover {
  scale: 1.1;
}
.main .testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .testimonialsTitle {
  font-family: "Markazi Text", sans-serif;
  font-weight: 600;
  font-size: 6rem;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10em 0em;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .body {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: "header header" "main main" "footer footer";
  }
  .header {
    flex-direction: column;
    width: 100%;
  }
  .header .logo {
    margin-left: 3em;
  }
  .header .nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .nav ul li {
    margin-right: 0;
    margin-bottom: 1em;
  }
}/*# sourceMappingURL=App.css.map */